# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pso-任务调度\PSO-cloudsim-HK202-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
